    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
        text-decoration: none;
    }
    /****le style de contenu principal***/
    
    main {
        padding: 50px;
        width: 80%;
        margin: auto;
        min-width: 460px;
    }
    /******************le navbar***********************/
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #ffffff;
        box-shadow: 0 5px 10px rgb(0, 0, 0, .1);
        padding: 0px 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }
    
    header .logo {
        font-weight: bolder;
        font-size: 25px;
        color: #09dca4;
    }
    
    header .navbar ul {
        list-style: none;
    }
    
    header .navbar ul li {
        position: relative;
        float: left;
    }
    
    header .navbar ul li a {
        font-size: 20px;
        padding: 20px;
        color: #333;
        display: block;
    }
    
    header .navbar ul li a:hover {
        background: #333;
        color: #fff;
    }
    
    header .navbar ul li ul {
        position: absolute;
        left: 0;
        width: 200px;
        background: #fff;
        display: none;
    }
    
    header .navbar ul li ul li {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }
    
    header .navbar ul li ul li ul {
        left: 200px;
        top: 0;
    }
    
    header .navbar ul li :focus-within>ul,
    header .navbar ul li:hover>ul {
        display: initial;
    }
    
    header .navbar {
        float: none;
    }
    /*************************************************************/
    /*les styles des titres*/
    
    h1 {
        text-align: center;
        margin: 0 0 20px;
        padding: 0;
        font-size: 50px;
        font-family: "Times New Roman", Times, serif;
        color: #474648;
    }
    
    h4 {
        text-align: left;
        margin: 20px;
        padding: 0;
        font-size: 30px;
        font-family: "Times New Roman", Times, serif;
        color: #efc050;
        text-transform: none;
    }
    
    h5 {
        text-align: left;
        margin: 20px;
        padding: 0;
        font-size: 23px;
        font-family: "Times New Roman", Times, serif;
        color: #92a8d1;
        text-transform: none;
    }
    /*le style d'une paragraphe*/
    
    p,
    .element {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: justify;
        line-height: 30px;
        font-size: large;
    }
    /*le style d'image*/
    
    img {
        box-shadow: 1px 1px 10px black;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    figcaption {
        text-align: center;
        padding: 20px;
        font-size: 25px;
        color: #92a8d1;
    }
	/**************le style des images sous forme d'un cercle***********/
	/*on n'a pas mais le liens d'image dans la partie html parce que on a deja associe un styple au tague "img"*/
.circle {
    width: 200px;
    height: 200px;
    background: url(../images/14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    float: left;
    shape-outside: circle();  /*La propriété shape-outside définit une forme autour de laquelle le contenu en ligne devra s’écouler */
    margin: 60px 30px 30px 0px
}

.circle2 {
    width: 200px;
    height: 200px;
    background: url(../images/18.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    float: left;
    shape-outside: circle();  /*La propriété shape-outside définit une forme autour de laquelle le contenu en ligne devra s’écouler */
    margin: 60px 30px 30px 0px
}

.circle3 {
    width: 200px;
    height: 200px;
    background: url(../images/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    float: left;
    shape-outside: circle();  /*La propriété shape-outside définit une forme autour de laquelle le contenu en ligne devra s’écouler */
    margin: 60px 30px 30px 0px
}

    /*le style d'une liste "ul" a l'interieur d'un element*/
    
    .element ul li {
        padding: 10px;
        list-style-position: inside;
    }
    /*le style d'une liste "ol"*/
    
    ol li {
        padding: 10px;
        list-style-position: inside;
    }
    /**************************le footer*************************/
    
    .footer-p {
        width: 1100px;
        margin: 0 auto;
    }
    
    .parti-footer {
        width: 33%;
        float: left;
        text-align: left;
        color: #fff;
    }
    
    .parti-footer ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .parti-footer ul a {
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        font-size: 12px;
    }
    
    .parti-footer p {
        width: 70%;
    }
    
    footer {
        width: 100%;
        height: 200px;
        position: relative;
        bottom: 0;
        z-index: -1;
        background-color: #262626;
    }
    
    main {
        position: relative;
    }
    /*********************************************************************/